.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 30px;
    background-color: white; /* 초기 배경색을 흰색으로 설정 */
    overflow: hidden;
    transition: width 0.6s, background 0.6s; /* 배경색 전환 효과를 위한 transition 추가 */
    background: linear-gradient(to right, #1428a0, #fff);
  }
  
  .sidebar.expanded {
    width: 120px;
    background: linear-gradient(to right, #1428a0, #3498db); /* 확장될 때 파랑색 그라데이션으로 설정 */
  }
  
  .sidebar .nav-link {
    display: none;
  }
  
  .sidebar.expanded .nav-link {
    display: block;
    color: #fff;
  }
  